textarea {
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
  font-family: serif;
}

.doubleShell {
  width: 100%;
}

.middeBridge {
  width: 100%;
  height: 0px;
}

.navShell {
  position: fixed;
  background: lightblue;
  width: 100%;
  top: 0;
  padding: 15px;
}

.displayShell {
  margin-top: 80px;
}

.displayShell div:nth-child(even) {
  background: lightgrey;
}

.displayShell div {
  display: flex;
}

.displayItem input:first-child {
  width: 50px;
  text-align: center;
  border: none;
  background: transparent;
  border-right: 1px solid black;
}

.displayItemShell {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}