textarea {
  width: 100%;
  height: 100%;
}

.displayShell div:nth-child(even) {
  background: lightgrey;
}

.displayShell div:nth-child(2) {
  background: transparent;
}

.displayShell div {
  display: flex;
}

.displayItem input:first-child {
  width: 50px;
  text-align: center;
}

.displayItemShell {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}